<html>
<head lang="en">
  <title>Citi Community Tools</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="javascripts/angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="cdt">
<header>
			<div class="wrap">
			<!-- navigation menu -->
		<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
			<ul class="nav navbar-nav">
			  <li ng-show="isLoggedIn()"><a href="/#/upload">Upload</a></li>
			  <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
			  <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
			  <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
			  <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
			</ul>
		</nav>
				<!-- logo -->
				<div id="content">
				<img src="200px-Citi.svg.png" alt="Citi" style="width:120px;height:89px;" alt="" />
				  <p><h1>Community Tools</h1></p>
				</div>

			</div>
	</header>
		
  
  
   <div class="row">
    <div class="col-md-12">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
	
	<div ng-class = "tools" ng-repeat="post in posts | orderBy: '-upvotes'" style="margin: 20px; list-style-type: none; width: auto; 
	padding-right: 200px; display: inline; word-break: break-all; word-wrap: break-word; padding:40px; border: 1px black solid">
		<div style="text-align: center">
			<a ng-show="post.link" href="{{post.link}}"><img src="{{post.title}}.png" alt="ToolImage" align="middle">
			</a>
			</div>

			<a ng-show="post.link" href="{{post.link}}"><h2 style="text-align: center">{{post.title}}</h2></a>

			<p ng-show="post.author" style="text-align: center">Uploaded By: <a>{{post.author}}</a></p>
			
			<p style="text-align: center; padding-bottom: 10px">No of Clicks: 153</p>
			
			<p style="vertical-align: bottom; padding-bottom:0px; margin-bottom: 0px">
			<span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(post)" style="float:left;padding-right: 10px"></span>
			<span>  </span> {{post.upvotes}}
			<span style="float:right; padding-right: 0px;"><a href="#/posts/{{post._id}}"><img src="comment_icon.png" alt="Comment" align="middle" style = "padding-right: 10px"></a>({{post.comments.length}})</span>
			</p>

		</div>	
  </script>
  
  <script type="text/ng-template" id="/upload.html">


	<form ng-submit="addPost()" ng-show="isLoggedIn()" class="addNewToolForm" name="form" ng-hide="loaded">
		<h3>Add a new tool</h3>

		<div class="form-group">
		<input class="input" required="required" type="text" name="name" placeholder="Tool Name" ng-model="title" /> <br/>
		</div>

		<div class="form-group">
		<input class="input link" required="required" type="link" name="link" value="" placeholder="Tool Link" ng-model="link" /> <br/>
		</div>

		<button type="submit" class="btn btn-primary">Add</button>
		<button class="btn" ng-click="closeForm()">Close</button>		
	</form>
	
  </script>

  <script type="text/ng-template" id="/posts.html">
    <div class="page-header">
      <h3>
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(comment)"></span>
        {{comment.upvotes}} 
      <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(comment)"></span>
        - by {{comment.author}}
      <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div>

    <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
      <h3>Add a new comment</h3>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
      </div>

      <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <div ng-hide="isLoggedIn()">
	  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
	</div>
  </script>
  
  <script type="text/ng-template" id="/register.html">
	
	  <div ng-show="error" class="alert alert-danger row">
	    <span>{{ error.message }}</span>
	  </div>
	
	  <form ng-submit="register()"
	    style="margin-top:30px;">
	    <h3>Register</h3>
	
	    <div class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="Username"
	      ng-model="user.username"></input>
	    </div>
	    <div class="form-group">
	      <input type="password"
	      class="form-control"
	      placeholder="Password"
	      ng-model="user.password"></input>
	    </div>
	    <button type="submit" class="btn btn-primary">Register</button>
	  </form>
	</script>


	<script type="text/ng-template" id="/login.html">

	  <div ng-show="error" class="alert alert-danger row">
	    <span>{{ error.message }}</span>
	  </div>
	
	  <form ng-submit="logIn()"
	    style="margin-top:30px;">
	    <h3>Log In</h3>
	
	    <div class="form-group">
	      <input type="text"
	      class="form-control"
	      placeholder="Username"
	      ng-model="user.username"></input>
	    </div>
	    <div class="form-group">
	      <input type="password"
	      class="form-control"
	      placeholder="Password"
	      ng-model="user.password"></input>
	    </div>
	    <button type="submit" class="btn btn-primary">Log In</button>
	  </form>
  </script>					  

  </body>
</html>