/* general settings */
html {
  min-height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  width:100%;
} 
body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight:100;
  margin:0;
  min-height:100%;
  min-width:100%;
}
a {
  text-decoration:none;
  color: #00B7FF;
}
a img {
  border:none;
}
h1 {
  font-size:3.5em;
  font-weight:100;
}
p {
  font-size:1.5em;
} 
input,textarea {
  -webkit-appearance:none;
  background-color:#f7f7f7;
  color:#070B08;
  border:none;
  border-radius:3px;
  font-size:1em;
  font-weight:100;
}
input:focus,textarea:focus {
  border:none;
  outline:2px solid #7ed7b9;
}
.wrap {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0 auto;
  max-width:1420px;
  overflow:hidden;
  padding:0 10px;
  position:relative;
  width:100%;
}
/* header section */
header {
  height:110px;
}
header .wrap {
  height:100%;
}
header .logo {
  margin-top:10px;
   font-size:3.5em;
  font-weight:100;
}
header nav {
  float:right;
  margin-top:17px;
}
header nav ul {
  margin:1em 0;
  padding:0;
}
header nav ul li {
  display:block;
  float:left;
  margin-right:20px;
}
header nav ul li a {
  border-radius:24px;
  color:#aaa;
  font-size:1.4em;
  font-weight:400;
  padding:10px 27px;
  text-decoration:none;
}
.btn {
  background-color:#bfb9b9;
  border-radius:24px;
  color:#595959;
  display:inline-block;
  font-size:1.4em;
  font-weight:400;
  margin:2px 0;
  padding:10px 30px;
  text-decoration:none;
}

.btn:hover {
  opacity:0.8;
}

/* other objects */
.form {
  background-color:#dadada;
  color:#818181;
  display:none;
  padding-bottom:0px;
}

.head {
  font-size:4em;
  font-weight:100;
  margin:40px 0;
}

.image {
  text-align:center;
}
.image img {
  vertical-align:top;
  width:100%;
}

.input {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:1% 0;
  padding:12px 14px;
  width:47%;
}
.input.email {
  float:right;
}
button {
  border:none;
  cursor:pointer;
}
.textarea {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  height:200px;
  margin:1% 0;
  overflow:auto;
  padding:12px 14px;
  resize:none;
  width:100%;
  color:#070B08
}
::-webkit-input-placeholder {
  color:#070B08;
}
:-moz-placeholder {
  color:#070B08;
}
::-moz-placeholder { /* FF18+ */
  color:#070B08;
}
:-ms-input-placeholder {
  color:#070B08;
}

#content img {
  float: left;
  padding: 0 10px 35px 0;
}

